# dependencies
/node_modules

# build
/dist
/src-tauri/target

# misc
.DS_Store
*.pem
.vercel
.playwright-mcp/
/web/screenshot.png

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*

# typescript
*.tsbuildinfo
